<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">
	<insert id="insert">
		insert into tbl_reply(rno, bno, reply, replyer) values(seq_reply.nextval,#{bno},#{reply},#{replyer})
	</insert>
	<select id="getList" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where bno=#{bno} order by replydate desc
	</select>
	<update id="update">
		update tbl_reply set reply=#{reply}, updatedate=sysdate where rno=#{rno}
	</update>
	<delete id="delete">
		delete from tbl_reply where rno=#{rno}
	</delete>
	<delete id="deletebno">
		delete from tbl_reply where bno=#{bno}
	</delete>
	<select id="get" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where rno=#{rno}
	</select>
	<select id="cnt" resultType="long">
		select count(*) from tbl_reply where bno=#{bno}
	</select>
	<select id="todayCount" resultType="long">
		select count(*) from tbl_reply where to_char(replydate,'yyyyMMdd') = to_char(sysDate,'yyyyMMdd')
	</select>
	<select id="newReply" resultType="org.zerock.domain.NewReplyVO">
		select reply, replyer from tbl_reply where to_char(replydate,'yyyyMMdd') = to_char(sysDate,'yyyyMMdd') order by replydate
	</select>
</mapper>